# Virtual environment
Swiss_Ephemeris/venv/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

# Streamlit cache
.streamlit/

.env

# Node
frontend/node_modules/
node_modules/

# Python
venv/
__pycache__/
*.pyc

# Env files
.env

# Build output
frontend/dist/
frontend/build/